pkgbase = v2ray-rules-dat
	pkgdesc = Enhanced edition of V2Ray rules dat files
	pkgver = 202407152211
	pkgrel = 1
	url = https://github.com/Loyalsoldier/v2ray-rules-dat
	arch = any
	license = CC-BY-SA-4.0
	license = MIT
	license = GPL-3.0-or-later
	provides = v2ray-domain-list-community
	provides = v2ray-geoip
	conflicts = v2ray-domain-list-community
	conflicts = v2ray-geoip
	source = https://github.com/Loyalsoldier/v2ray-rules-dat/releases/download/202407152211/geoip.dat
	source = https://github.com/Loyalsoldier/v2ray-rules-dat/releases/download/202407152211/geosite.dat
	source = https://github.com/Loyalsoldier/v2ray-rules-dat/releases/download/202407152211/geoip.dat.sha256sum
	source = https://github.com/Loyalsoldier/v2ray-rules-dat/releases/download/202407152211/geosite.dat.sha256sum
	source = https://raw.githubusercontent.com/Loyalsoldier/domain-list-custom/master/LICENSE
	sha256sums = fd224548b0309f0810b03c13ae61cc41a6968fe6b1639c82de371485200fbcbb
	sha256sums = 2aa65adc62f65c0f3a2f44b09574b9b4371b3082e024a0c4ca13d688294038ac
	sha256sums = 2a189edbd913172257960946fea01b430e552a7d2d3eb3c6b6dd430be37633fc
	sha256sums = 9d07a0613a96c95da722982a29e4baafd2d69c5dc598811b045b74a41df274a8
	sha256sums = 35f18e0331a1ecd1835400c50e3b367c2ce09f6c13d91c4a0f3cb11f71d3bbc3

pkgname = v2ray-rules-dat
